{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="<style.css" type="text/css" rel="stylesheet">
        
    </style>"
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRZHilOVY-DDcgz9fx2Sfy-n4v1cFwFhRdyAkPhts_y3xYtAZdP" alt="" height="600px" width="35%" style="margin-left: 20px">
    <div style="float:right;margin-left:30px;padding-right:160px;border:0px solid black;margin-top:-10px;"> <div id="city-aqi-container4"><div style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #D6D6D6;display:inline-block;background-color:#fff;-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.075);;" id="details-aqi-popup-1"><div style="width:280px;margin:8px;border:0px solid black;line-height:1.2;color:black;">
            <center>
            <div style="width:180px;overflow:hidden;font-size:12px;text-align:left;padding:2px 0;overflow:hidden;">
            <b>{{ city }}</b> Air Quality.
            </div>
            {% if aqi < 51 %}
            <div style="padding:5px 0px;background-color: #008000;color:#000000; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;;">
            <div style="font-size:28px;">{{aqi}}</div>
            <div style="font-size:18px;">Good</div>
            </div>
            
               
                {% elif aqi < 101 %}
                    <div style="padding:5px 0px;background-color: #ffff00;color:#000000; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;;">
            <div style="font-size:28px;">{{aqi}}</div>
            <div style="font-size:18px;">moderate</div>
            </div>
            

                    {% elif aqi < 151 %}
                    <div style="padding:5px 0px;background-color: #ffa500;color:#000000; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;;">
            <div style="font-size:28px;">{{aqi}}</div>
            <div style="font-size:18px;">Unhealthy For sensitive group</div>
            </div>
            

                    {% elif aqi < 201 %}
                    <div style="padding:5px 0px;background-color: #ff0000;color:#000000; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;;">
            <div style="font-size:28px;">{{aqi}}</div>
            <div style="font-size:18px;">Unhealthy</div>
            </div>
            
                


                    {% elif aqi < 301 %}
                    <div style="padding:5px 0px;background-color: #800080;color:#000000; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;;">
            <div style="font-size:28px;">{{aqi}}</div>
            <div style="font-size:18px;">Very Unhealthy</div>
            </div>
            
                


                    {% else %}
                    <div style="padding:5px 0px;background-color: #800000;color:#000000; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;;">
            <div style="font-size:28px;">{{aqi}}</div>
            <div style="font-size:18px;">Hazardous</div>
            </div>
            
                
                        {% endif %}
                    <div style="font-size:12px;margin:5px 0;color:#888;">Updated on {{ time }}</div>
            </center>

               

                    

                </div></div></div> </div>
</body>
</html>